<!-- <!DOCTYPE html>
<html lang="en">
<head>  
</head>
<body>    
    <div>
        <h2 style="text-align: center">Voter Registration</h2>
        <form>
          <label for="name">Name:</label><br>
          <input type="text" placeholder="Enter your Name"[(ngModel)]="vot.name" name="Name"><br>
          <label for="age">Age:</label><br>
          <input type="text" placeholder="Enter your Age"[(ngModel)]="vot.age" name="Age"><br> 
          <label for="Aadhar">Aadhaar Number:</label><br>
          <input type="number" placeholder="Enter Aadhaar Number"[(ngModel)]="vot.aadhaarNumber" name="Aadhar"><br>         
          <input class="btn btn-primary" type="submit"(click)="registerVoterAngular()" name="Login as Voter">
        </form>
      </div>
      
</body>
</html> -->

<h2 style="text-align: center">Voter Registration</h2>
  <div class="vote-container">
      <form  #signupform="ngForm" (ngSubmit)="registerVoterAngular()">
        <!-- <br/> -->
        <!-- <small [class.text-danger]="msg.status==500">{{msg.message}}</small>  -->
         <div class="form-group">
           <!-- <div> -->
          <label for="fname">Voter Name:</label>
        <!-- </div> -->
          <input type="text" class="form-control" placeholder="FirstName" name="firstname"
            [(ngModel)]="vot.name" required pattern="[a-zA-Z]{2,10}" #firstname="ngModel"
            [class.is-invalid]="firstname.invalid && firstname.touched">
            <small id="Vname" *ngIf="password.invalid && password.touched" > Name is Invalid!</small>
        </div>
        <!-- <br> -->
        <div class="form-group">
          <!-- <div> -->
         <label for="fname">Voter Aadhar Number:</label>
        <!-- </div> -->
          <input type="text" class="form-control" placeholder="AadharNumber" name="email"
          
            [(ngModel)]="vot.aadhaarNumber" required pattern="[0-9]{12}"

          
            #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
            <small id="Vname" *ngIf="password.invalid && password.touched">Aadhar-Number is Invalid!</small>
        </div>
       
         <div class="form-group">
           <!-- <div> -->
          <label for="fname">Age</label>
        <!-- </div> -->
          <input type="text" class="form-control" placeholder="Age" name="password"
            [(ngModel)]="vot.age" required pattern="[a-zA-Z]{2,10}" #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched">
          <small id="Vname" *ngIf="password.invalid && password.touched">Invalid Age </small>
        </div>

          <div class="form-group">
            <!-- <div> -->
          <label for="fname">Location:</label>
        <!-- </div> -->
          <input type="text" class="form-control" placeholder="location" name="password"
            [(ngModel)]="vot.location" required pattern="[a-zA-Z]{2,10}" #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched">
          <small id="Vname" *ngIf="password.invalid && password.touched">Location in valid!</small>
          <button type="submit" id="sub" class="btn-btn-primary">Register</button>
        </div>


        <br/>
      </form>
  </div>