<html>
<head></head>    
    <body  class="marginAuto">
    <div class="EasyVote-logo-image">
        <nav>
            <ul>
                <li>
                    <a href="/">
                    <img src= "../../assets/image/ev png 1.png" width="250">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class ="EasyVote-background-container"> 
    <img src = "../../assets/image/bg logo.png" width="100%" height="0%">
    </div> 
   
    <div class="container-fluid EasyVote-content-container">
        <div>Welcome to Easy Vote.</div>
        <p>"Cast your Vote , Bring a change , Be a Responsible Citizen!"</p>
    </div>
    <!-- <router-outlet></router-outlet> -->
    </body>

</html>